
.color-picker {
  position: relative;
}
.color-indicator {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 30px;
}
#color-picker {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
}
